<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On

	#If the path to app is on root path, the RewriteBase needs to be suppressed
#    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{HTTP:Authorization} .+
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteRule ^ index.php [QSA,L]
</IfModule>
